
<div>
    <form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>
          E-mail
          <sup class="text-danger">*</sup>
        </label>
        <input
          required
          type="email"
          class="form-control field-email"
          autocomplete="username"
          name="email"
          maxlength="50"
          minlength="3"
          [(ngModel)]="credentials.email"
          #email="ngModel"
        />
        <small class="text-danger" *ngIf="email.dirty">
          <span *ngIf="email.errors?.['required']"> Pole <em>email</em> jest puste. </span>
          <span *ngIf="email.errors?.['maxlength']"> Pole <em>email</em> jest za długie. </span>
          <span *ngIf="email.errors?.['minlength']"> Pole <em>email</em> jest za krótkie. </span>
        </small>
      </div>
      <div class="form-group">
        <label>
          Hasło
          <sup class="text-danger">*</sup>
        </label>
        <input
          required
          type="password"
          class="form-control field-password"
          name="password"
          autocomplete="current-password"
          [(ngModel)]="credentials.password"
          #password="ngModel"
        />
        <small class="text-danger" *ngIf="email.dirty">
          <span *ngIf="password.errors?.['required']"> Pole <em>password</em> jest puste. </span>
          <span *ngIf="email.errors?.['maxlength']"> Pole <em>password</em> jest za długie. </span>
          <span *ngIf="email.errors?.['maxlength']"> Pole <em>password</em> jest za krótkie. </span>
        </small>
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary submit-form"
      >
        Zaloguj się
      </button>
    </form>
  </div>
  